*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.hero{
    height: 100vh;
    background:linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    width: fit-content;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 180px;
    padding-top: 200px;
    line-height: 1.1;
}

.hero-left h2{
    font-size: 26px;
    font-weight: 600;
    color: #090909;
}

.hero-left p{
    color: #171717;
    font-size: 100px ;
    font-weight: 500;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-hand-icon img{
    width: 100px;

}

.hero-latest-btn{
   display :flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    width: 310px;
    height: 90px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    font-size: 22px;
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    
}